{% extends "layout.html" %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/channel.js') }}"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="../static/channel.css">
{% endblock %}

{% block title %}
  Channel
{% endblock %}

{% block body %}

  <h1>Chat Room: {{ channel_name }}</h1>

  <div class="response-display">
    <label id="display-name"></label>
  </div>

  <div id="messages">
    
  </div>

  <div class="chatbox-area">
    <form id="chat-form">
        <textarea type="text" autocomplete="off" autofocus name="chatbox"></textarea>
        <input class="send-button" type="submit">
    </form>
  </div>


{% endblock %}
