{% extends "layout.html" %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="../static/index.css">
{% endblock %}

{% block title %}
  Flack Chatrooms
{% endblock %}

{% block body %}

  <h1>Hello <span id="display_name"></span>!</h1>

  <h2>Channels</h2>

  <form id="new-channel">
    <input type="text" id="get-channel" autocomplete="off" autofocus placeholder="New Channel">
    <input type="submit" id="submit">
  </form>
  <p id="error1">This channel already exists.</p>
  <div id="channels">
    {% for channel in channels_list %}
      <a href="{{ url_for('channel', channel_name=channels_list[channel]) }}">{{ channels_list[channel] }}</a>
    {% endfor %}
  </div>

{% endblock %}
