{% extends "layout.html" %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block title %}
  Flack Chatrooms
{% endblock %}

{% block body %}

  <h1>Hello <span id="display_name"></span>!</h1>

  <h2>Channels</h2>

  <form id="new-channel">
    <input type="text" id="get-channel" autocomplete="off" autofocus placeholder="New Channel">
    <input type="submit" id="submit">
  </form>
  <p id="error1">This channel already exists.</p>
  <ul id="channels">
    {% for channel in channels_list %}
      <li>{{ channels_list[channel] }}</li>
    {% endfor %}
  </ul>

{% endblock %}
